<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: head"></div>
    <link rel="stylesheet" href="../../css/gamestyles.css">
</head>
<body>
    Hello, This is a Work in Progress homepage for my Retro Gaming Site!
    <div class="container">
        <div class="game-card" data-title="Rocket Knight">
            <img src="../static/images/46840-rocket-knight-adventures-genesis-front-cover.jpg"></div>
        </div>
    <button type="button" onclick="javascript:alert('My First JavaScript');">Click Me!</button>
</body>
</html>
