<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: head"></div>
    <link rel="stylesheet" href="../../css/gamestyles.css">
</head>
<body>
    Hello, This is a Work in Progress homepage for my Retro Gaming Site!
    <div class="game-container">
        <!--Content will be loaded dynamically via gameRequest-->
        </div>
    <input id="button" type="submit" name="button" onclick="getGameList();" value="Test Restful GET Request"/>
</body>
</html>
